* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(103, 180, 194), rgb(130, 212, 133));
}

.calculator {
    border: 1px solid #ccc;
    background-color: rgba(81, 81, 81, 0.337);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.display {
    background-color: #ccc;
    width: 200px;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    text-align: right;
    font-size: 1.5em;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}